/*-- scss:rules --*/


.panel-caption, .figure-caption, figcaption {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 400;
  color: #8193af;
  margin-top: 2px;
}

.blockquote {
  width: 80%;
  font-size: 20px;
  padding: 25px;
  margin: 25px;
  border-left: 6px solid #00509d
}

.blockquote p {
  font-weight: bold;
  font-style: italic
}

div.callout-note.callout {
    border-color: #00509d;
}

.callout.callout-style-simple .callout-body {
    font-size: 1.1rem;
    color:  #00509d;
    font-style: italic;
} 

.callout.callout-style-default .callout-body {
    font-size: 1.1rem;
    color:  #00509d;
    font-style: italic;
} 





